meta(charset="UTF-8")
meta(name="viewport", content="width=device-width, initial-scale=1.0")
title My Website
script(src="https://unpkg.com/htmx.org@1.9.9")
link(rel="stylesheet", href="/css/styles.css")