<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <me/>
    {% block styles %}
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
    {% endblock %}
    <title>
      {% block title %}FlaskX Social Media{% endblock %}
    </title>
    <script src="https://unpkg.com/htmx.org@1.9.9" integrity="sha384-QFjmbokDn2DjBjq+fM+8LUIVrAgqcNW2s0PjAxHETgRn9l4fvX31ZxDxvwQnyMOX" crossorigin="anonymous"></script>
  </head>
  <body>
    {% block navbar %}
    <nav class="navbar bg-primary-subtle navbar-expand-md">
      <div class="container-fluid">
        <a class="navbar-brand" href="{{ url_for('posts') }}">FlaskX</a>
      </div>
    </nav>
    {% endblock %}

    <div class="container mt-5">{% block content %}{% endblock %}</div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  </body>
</html>
