<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="{{ static_url('favicon.ico') }}" type="image/x-icon" />
    {% block styles %}
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
      <link rel="stylesheet" href="{{ static_url('styles.css') }}" />
    {% endblock %}
    <title>{% block title %}FlaskX Social Media{% endblock %}</title>
    <script src="https://unpkg.com/htmx.org@1.9.9" integrity="sha384-QFjmbokDn2DjBjq+fM+8LUIVrAgqcNW2s0PjAxHETgRn9l4fvX31ZxDxvwQnyMOX" crossorigin="anonymous"></script>
  </head>
  <body>
    {% block navbar %}
    <nav class="navbar bg-primary-subtle navbar-expand-lg">
      <div class="container-fluid">
        <a class="navbar-brand" href="{{ url_for('home') }}">FlaskX</a>
        <div class="collapse navbar-collapse">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link {{ nav_active('posts') }}" aria-current="page" href="{{ url_for('posts') }}">Posts</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {{ nav_active('new_post') }}" aria-current="page" href="{{ url_for('new_post') }}">New Post</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    {% endblock %}

    <div class="container mt-5">{% block content %}{% endblock %}</div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  </body>
</html>
